<%- include('partials/header'); %> 
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
          <%= "About our company" %>
        </h1>
      <p class="lead">
          <%= "We got glazed chocolate iced, raspberry filled, chocolate iced glazed, glazed chocolate coke, powderder cake, and about three dozen other flavors to saltifsy your sugar cravings! " %>
        </p>
    </div>
</div>
<%- include('partials/footer'); %> 