<%- include('partials/header')  %> 

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
          <%= "Welcome to the Donut Shop" %>
        </h1>
      <p class="lead">
          <%= "We bake the hottest, freshest donuts that you can imagine. You want donuts? We got it." %>
        </p>
    </div>
</div>

<%- include('partials/footer')  %> 


