<% include partials/header.ejs%>

    <!-- Error Page -->
    <div class="display-4 text-lg-center mt-5">
		<%=  message %>
    </div>

	<!-- footer nav -->
	<nav class="nav nav-pills flex-column flex-sm-row fixed-bottom">
		<a class="flex-sm-fill text-sm-center nav-link" href="#">Home</a>
		<a class="flex-sm-fill text-sm-center nav-link active" href="#">Results</a>
		<a class="flex-sm-fill text-sm-center nav-link" href="#">Feedback</a>
	</nav>

<% include partials/footer.ejs%>
