<%- include('partials/header')  %>     
<%- include('partials/navbar')  %>

<div class="background">
    <div class="center">
        <h1 style="text-align: center; color:white">IN THE MOOD TO CATCH A FLICK? SEE WHAT MOVIES ARE PLAYING NOW!</h1>
        <a class="btn btn-warning mx-auto" href="/movies">Show me a list of Movies!</a>
    </div>
</div>

<%- include('partials/footer')  %>



        
        
