<form action="/lyricResults" method="get">
    <label for="artist">Enter the artist:</label>
    <input
        id="artist"
        name="artist"
        type="search"
        placeholder="Enter your artist here"
    />
    <br />
    <label for="title">Enter the title:</label>
    <input
        id="title"
        name="title"
        type="search"
        placeholder="Enter your title here"
    />
    <button type="submit">Send</button>
</form>
