body,
html {
    height: 100%;
}
.background-img {
    background-image: url("images/background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#PLURIBUS {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   
}

#E {
    position: absolute;
    left: 10%;
    top: 10%;
}

#UNUM {
    position: absolute;
    right: 10%;
    bottom: 10%;
}
.box {
    width: 300px;
    height: 150px;
    color: white;
    border: 2px solid grey;
    background-color: rgba(60, 99, 155, 0.2);
    border-radius: 20px;
}

p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
