<%- include("partials/header") %>

<h1>BitCoin Price App</h1>

<form action="/" method="POST">
    <input type="radio" id="usd" name="currency" value="usd" />
    <label for="">USD</label>
    <input type="radio" id="gbp" name="currency" value="gbp" />
    <label for="">GBP</label>
    <input type="radio" id="eur" name="currency" value="eur" />
    <label for="">EUR</label>
    <button id="get-price" type="submit">Get Price</button>
</form>

<h2>This the current price: <%= unit %> <%= price %></h2>

<p></p>

<%- include("partials/footer") %>
