<div style="width: 50%;">
    <h1><%= original_title %> </h1>
    <p><%= overview %> </p>
    <p>Rating: <%= vote_average %> out of 10 stars</p>
    <img src="https://image.tmdb.org/t/p/w500<%= poster_path %> " alt="" />
</div>

