body, html {
    height: 100%;
}
.background-img {
    background-image: url("images/background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    width: 200px;
    height: 100px;
    color: white;
    border: 2px solid grey;
    background-color: rgba(60, 99, 155, 0.2);
    border-radius: 20px;
}