/* * {
    box-sizing: border-box;
} */
/* ***************************************** */
/* to create a full image background */
html, body {
    margin: 0;
    height: 100%;
}
.backgroundImg {
    background-image: url(pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
/* ***************************************** */
/* 
.form-container {
    position: fixed;
    background-color: white;
    width: 400px;
    margin: 40px;
    padding:25px;
    border: 3px solid black;
    border-radius: 50px;

}
input[type=text], input[type=password] {
    padding: 15px;
    width: 100%;
    margin: 15px 0 30px 0;
    background-color: #eeeeee;
}

.theButton {
    padding: 16px 20px;
    font-size: 28px;
    cursor: pointer;
    background-color: #f44336;
    color: white;
    border-radius: 30px;
    width: 100%;
}
.theButton:hover {
    color:purple;
    background-color: orange;
    transition: 1s;
} */