<h1>I am the Home Page</h1>
<form action="/results" method="GET">
	<label for="cityName">Get Weather</label>
	<br />
	<input
		type="text"
		id="cityName"
		placeholder="Input city name"
		name="cityName"
		value=""
	/>
	<button type="submit">Search</button>
</form>
