body {
    background-color: #80d4ff;
    text-align: center;
}

button {
    display: block;
    margin: 10px auto;
    border: 10x solid white;
    border-radius: 10%;
    color: white;
    background-color: darkblue;
    font-size: 20px;
    padding: 20px 30px;
}

h3 {
    font-size: 50px;
}

